$paddingMain: 100px;
$paddingMainNarrowScreen: 5px;

// Navbar height management
$paddingMenuTopBottom: 15px;
$heightMenuWriting: 50px;
$navbarHeight: 2 * $paddingMenuTopBottom + $heightMenuWriting;
// This is necessary since the menu has fixed position. So in order to push
// the actual page content down, there has to be a relatively positioned empty
// div element in navbar to push to page content down from the fixed positioned
// navbar element
$menuRelativePositionedDivHeight: $navbarHeight + 20px;

// Footer height to estimate min page heights.
$footerHeight: 200px;
$minPageHeight: calc(100vh - $footerHeight - $menuRelativePositionedDivHeight);


$borderRadius: 10px;

/* Colors */
$white: #ffffff;
$canvas: $white;
$navbarWhite: $white;
$navbarGrey: #eeedeb;
$lightGrey: #f6f5f3;
$footerColor: $navbarGrey;
$blackOpaque: #000000cc;
$black: #000;
$green: #003941;
$writingBlue: #063d49;
$writingRed: #9d0c2c;

/* Button Colors */
$buttonColor1: transparent;
$buttonColorHOver1: transparent;
$buttonColor2: #595f7a;
$buttonColorHOver2: #3f4357;
$buttonColor3: #aa677a;
$buttonColorHOver3: #7f4052;

@mixin buttonStyle($width, $height, $buttonType) {
    width: $width;
    height: $height;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: $height;
    margin: 0 10px;
    background-color: $buttonColor1;
    caret-color: transparent;

    transition: background-color 0.2s ease-in-out;

    @if $buttonType == 1 {
        background-color: $buttonColor1;
        color: $writingBlue;
        border-radius: 0;
        margin: 0 5px;
    } @else if $buttonType == 2 {
        background-color: $buttonColor2;
        color: $white;
        border-radius: 10px;
        margin: 0 10px;
    } @else if $buttonType == 3 {
        background-color: $buttonColor3;
        color: $white;
        border-radius: 10px;
        margin: 0 10px;
    } @else if $buttonType == 4 {
        background-color: $buttonColor1;
        color: $writingRed;
        border-radius: 0;
        margin: 0 5px
    } @else if $buttonType == 5 {
        background-color: #4d6cc0;
        color: $white;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        margin: 0 10px;
    } @else if $buttonType == 6 {
        // passive button
        background-color: #a1a2a4;
        color: $white;
        border-radius: 10px;
        margin: 0 10px;
    } @else {
        background-color: $buttonColor1;
        color: $black;
        border-radius: 0;
    }

    &:hover {
        @if $buttonType == 1 {
            color: #046a84;
        } @else if $buttonType == 2 {
            background-color: $buttonColorHOver2;
        } @else if $buttonType == 3 {
            background-color: $buttonColorHOver3;
        } @else if $buttonType == 4 {
            color: #cc3e5d;
        } @else if $buttonType == 5 {
            background-color: #7088c8;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        }
        
    }
}

@mixin alignFooterBottomInMinPageHeight() {
    padding: 0 $paddingMain;
    margin: 0 auto;
    min-height: $minPageHeight;

    & > :first-child {
        margin: 0;
    }

    > :last-child {
        margin-bottom: 50px;
    }

    @media (max-width: 900px) {
        padding: 0 $paddingMainNarrowScreen;
    }
}