@import "../../variables.scss";

.main {
    padding: 20px $paddingMain;
    margin: auto;
    text-align: center;

    height: 2000px;

    > * {
        margin: auto;
        text-align: center;
    }

    @media (max-width: 900px) {
        padding: 0 $paddingMainNarrowScreen;
    }
}