@import "../../variables.scss";

.main {
    @include alignFooterBottomInMinPageHeight();
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    > * {
        margin: auto;
        text-align: center;
    }
}