@import "../../../variables.scss";

.details {
    @include alignFooterBottomInMinPageHeight();
    text-align: justify;

    font-family: 'Roboto', Arial, sans-serif;

    max-width: 600px;

    > .center {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        padding-top: 16px;
    }

    > div {
        margin: 0;
        padding-top: 16px;

        > img {
            width: 250px;
        }
    }

    pre {
        background-color: #595151;
        padding: 10px;
        border-radius: 5px;
        overflow-x: auto;

        width: 500px;
    }
      
    code {
        font-family: 'Courier New', monospace;
        font-size: 14px;
        color: #fff8f8;
    }
      
}



