@import "../variables.scss";

footer {
    padding: 0 $paddingMain;
    height: $footerHeight;
    background-color: red;

    @media (max-width: 900px) {
        padding: 0 $paddingMainNarrowScreen;
    }
}