@import "../variables.scss";

.footer {
    position: relative;
    padding: 20px $paddingMain;
    height: $footerHeight;
    box-sizing: border-box;
    background-color: #796791;
    margin: auto;
    color: #eed9d9;
    font-size: 22px;
    text-align: center;
    
    @media (max-width: 900px) {
        padding: 20px $paddingMainNarrowScreen;
    }
}