// Taken from this codepen
// https://codepen.io/designcouch/pen/ExvwPY

$rippleColor: #102541;
$size: 4rem;

.multi-ripple {
  width: $size + 0.6rem;
  height: $size + 0.6rem;
  margin: 0;

  div {
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 0.3rem solid transparent;
    animation: 1.5s ripple infinite;

    &:nth-child(2) {
      animation-delay: 0.5s;
    }
  }
}

@keyframes ripple {
    from {
      transform: scale(0);
      opacity: 1;
      border-color: transparent;
    }
  
    to {
      transform: scale(1);
      opacity: 0;
      border-color: $rippleColor;
    }
}
