@import "../variables.scss";

section {
    user-select: none;
    caret-color: transparent;

    .top-padding {
        height: $menuRelativePositionedDivHeight;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        z-index: 2;


        background-color: #123852;
        display: flex;
        padding: $paddingMenuTopBottom $paddingMain;
        justify-content: space-between;
        
        a {
            text-decoration: none;
            list-style: none;
            color: #e0d1d1;
        }

        > ul {
            padding: 0;
            margin: 0;

            height: $heightMenuWriting;
            line-height: $lineHeightMenuWriting;

            > li {
                background-color: transparent;
                border: none;
                font-size: 25px;
                list-style: none;

                .active {
                    color: #c6d133;
                }
        
                :hover {
                    color: #d6c799;
                    cursor:pointer;
                }

                .app-name {
                    margin-left: 10px;
                }
            }

            @media (max-width: 699px) {
                > li {
                    width: 50%;
                }
            }
        }

        > .right-group {
            display: flex;
            justify-content: space-between;

            > li {
                padding-left: 30px;
            }

            @media (max-width: 699px) {
                width: 50px;
            }
        }

        @media (max-width: 900px) {
            padding: 15px $paddingMainNarrowScreen;
        }
    }

    .mobile-menu {
        position: fixed;
        top: $navbarHeight;
        left: 0;
        right: 0;
        padding: 0 $paddingMain;
        height: auto;

        transform: translateY(-100%);

        transition: transform 0.5s ease-in-out;

        z-index: 1;

        background-color: #174f75;

        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        a {
            text-decoration: none;
            color: #e0d1d1;
        }
        
        > ul {
            padding-left: 0;
            > li {
                background-color: transparent;
                border: none;
                font-size: 1.2rem;
                list-style: none;
                margin: 15px;

                .active {
                    color: #c6d133;
                }
            }
        }

        @media (max-width: 900px) {
            padding: 0 $paddingMainNarrowScreen;
        }
    }

    .mobile-menu-open {
        transform: translateY(0);
    }
}