@import "../styles/variables.scss";

.navbar {
    background-color: #7c95a4;
    display: flex;
    padding: 20px $paddingMain;
    justify-content: space-between;
}

.right-group {
    width: 250px;
    display: flex;
    justify-content: space-between;
}