.navbar {
    background-color: red;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.right-group {
    width: 250px;
    display: flex;
    justify-content: space-between;
}