.form {
    color: red;
    position: absolute;
    border: 2px solid red;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 640px;
    width: 627px;
}