@import "../variables.scss";

.form {
    box-sizing: border-box;
    color: #351a1a;
    background-color: #eaeaea;
    position: absolute;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    border-radius: $borderRadius;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 627px;
    width: 90%;
    min-width: 200px;

    display: flex;
    flex-direction: column;

    z-index: 10;

    caret-color: #592f0d;

    max-height: 650px;
    min-height: 200px;
    height: 90%;

    > header, > form, > div {
        margin: 0 auto;
        width: 95%;
        padding-left: 10px;
        padding-right: 10px;
    }

    > header {
        text-align: center;
        border-bottom: 1px solid black;
        width: 90%;

        > h1 {
            font-size: 1.3rem;
            margin: 10px;
        }
    }

    > form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;

        > div {
            display: flex;
            flex-direction: column;

            > label {
                margin: 5px 0;
            }

            > textarea {
                height: 100px;
                padding: 8px 20px;
                font-size: 1.1rem;
                border: 1px solid black;
                outline: 0;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
            }
        }

        .input {
            margin-bottom: 20px;

            ::selection {
                background-color: #92aab5;
            }

            ::placeholder {
                font-size: 1rem;
            }

            .caveat {
                margin: 0 0 0 10px;
                font-size: 1rem;
                color: #c2434e;
                min-height: 26px;
            }

            > label {
                font-size: 1.1rem;
            }

            > input {
                padding: 2px 20px;
                font-size: 1.1rem;
                line-height: 30px;

                border: 1px solid black;
                outline: 0;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
            }

            > .input-valid {
                background-color: #d1ede4;
                border-color: #31b4a9;

                &:focus {
                    background-color: #b9ded2;
                    border-color: #28a399;
                }
            }

            > .input-invalid {
                background-color: #edd1d6;
                border-color: #c2434e;

                &:focus {
                    background-color: #d8b2b9;
                    border-color: #b55159;
                }
            }

            > .img-valid {
                background-color: #d1ede4;
                border-color: #31b4a9;

                &:focus {
                    background-color: #b9ded2;
                    border-color: #28a399;
                }
            }

            > .img-invalid {
                background-color: #edd1d6;
                border-color: #b4313c;
            }
        }

        .image-preview {
            margin-bottom: 5px;
            background-color: #eaeaea;
            border-radius: $borderRadius;
            text-align: center;
            width: 15rem;
            height: 5rem;
            min-height: 5rem;

            display: flex;
            align-items: flex-start;
            justify-content: center;

            > p {
                margin: 0;
            }

            > img {
                height: 100%;
                border-radius: 10px;
            }
        }
    }

    > div {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 50px;

        margin-bottom: 8px;

        > .button2 {
            @include buttonStyle(120px, 50px, 2);
        }

        > .button3 {
            @include buttonStyle(120px, 50px, 3);
        }
    }
}