@import "../variables.scss";

.form {
    box-sizing: border-box;
    color: #351a1a;
    background-color: #eaeaea;
    position: absolute;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    border-radius: $borderRadius;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 640px;

    max-width: 627px;
    width: 90%;
    min-width: 200px;

    display: flex;
    flex-direction: column;

    > header, > form, > div {
        margin: auto;
        width: 95%;
        padding-left: 10px;
        padding-right: 10px;
    }

    > header {
        text-align: center;
        border-bottom: 1px solid black;
        width: 90%
    }

    > form {
        height: 75%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 477px;
        overflow-y: scroll;

        font-size: 20px;

        > div {
            display: flex;
            flex-direction: column;

            > label {
                margin: 5px 0;
            }

            > textarea {
                height: 100px;
                padding: 8px 20px;
                font-size: 18px;
                
                border: 1px solid black;
                outline: 0;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

                &:focus {
                    background-color: #d1e6ed;
                    border-color: #3131b4;
                }
            }
        }

        .input {
            ::placeholder {
                font-size: 18px;
            }

            > input {
                padding: 2px 20px;
                font-size: 18px;
                line-height: 30px;

                border: 1px solid black;
                outline: 0;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

                &:focus {
                    background-color: #d1e6ed;
                    border-color: #3131b4;
                }
            }
        }

        .image-preview {
            background-color: #eaeaea;
            border-radius: $borderRadius;
            text-align: center;
            width: 14rem;
            height: 7rem;

            display: flex;
            align-items: flex-start;
            justify-content: center;

            > p {
                margin: 0;
            }

            > img {
                height: 100%;
                border-radius: 10px;
            }
        }
    }

    > div {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        > .button2 {
            @include buttonStyle(120px, 50px, 2);
        }

        > .button3 {
            @include buttonStyle(120px, 50px, 3);
        }
    }
}