.pagination {
    list-style: none;
    display: flex;
    flex-direction: row;
    border: 1px solid black;

    justify-content: space-between;
    align-items: center;

    margin: 16px auto;
    max-width: 580px;
    min-height: 50px;

    box-sizing: border-box;
    padding: 0 20px;

    border-radius: 25px;

    * {text-decoration: none;}

    .active {
        background-color: red;
    }
}