@import "../../variables.scss";

.main {
    @include alignFooterBottomInMinPageHeight();

    .button5 {
        @include buttonStyle(120px, 50px, 5);
        margin: auto;
        display: block;
        margin-bottom: 20px;
    }

    .center {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .posts {
        display: flex;
        flex-direction: column;

        @media (max-width: 260px) {
            width: 90%;
        }
    }
}