@import "../../variables.scss";

.main {
    padding: 20px $paddingMain;
    margin: auto;
    text-align: center;

    > * {
        margin: auto;
        text-align: center;
    }

    .button {
        @include buttonStyle(120px, 50px, 5);
    }
}