@import "../../variables.scss";

.main {
    padding: 0 $paddingMain;
    margin: 0 auto;

    // height: 2000px;

    .button5 {
        @include buttonStyle(120px, 50px, 5);
        margin: auto;
        display: block;
        margin-bottom: 20px;
    }

    .posts {
        display: flex;
        flex-direction: column;

        .post {
            border: 1px solid #a775c0;
            border-radius: $borderRadius;
            margin-top: 0;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 15px;
            max-width: 550px;
            width: 50%;
            min-width: 250px;
            padding: 15px;
            background-color: #cfd5e7;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            
            &:hover {
                background-color: #efecf7;
            }

            > p {
                margin: 0;
                font-family: "Lucida Console", "Courier New", monospace;
                font-weight: bold;
                color: #204378
            }

            > .buttons {
               display: flex;
               flex-direction: row;
               justify-content: flex-end;

               > .button1 {
                @include buttonStyle(75px, 25px, 1);
               }

               > .button4 {
                @include buttonStyle(75px, 25px, 4);
               }
            }
        }
    }

    @media (max-width: 900px) {
        padding: 0 $paddingMainNarrowScreen;
    }
}