@import "../../variables.scss";

.main {
    padding: 20px $paddingMain;

    .button5 {
        @include buttonStyle(120px, 50px, 5);
        margin: auto;
        display: block;
    }

    .posts {
        display: flex;
        flex-direction: column;
        margin: auto;

        .post {
            border: 1px solid black;
            margin-top: 0;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 15px;
            width: 50%;
        }
    }
}